table2image/table2jpg/table.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="table"
    elementFormDefault="qualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>

  <xs:element name="table">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="caption" type="xs:string" minOccurs="0"/>
        <xs:element name="tr" maxOccurs="unbounded">
          <xs:complexType>
            <xs:choice maxOccurs="unbounded">
              <xs:element name="th" type="xs:string"/>
              <xs:element name="td" type="xs:string"/>
            </xs:choice>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
